<h1>Products</h1>

<ul>
  <% for manufacturer in manufacturers %>
    <li><%= link_to manufacturer.name, :anchor => manufacturer.webkey %></li>
  <% end %>
</ul>

<% for manu in manufacturers %>
  <h2 id="<%= manu.webkey %>"><%= manu.name %></h2>
  <table>
    <thead>
      <tr>
        <th><%= m_sorted_link_to manu, "Name", "full_name" %></th>
        <th><%= m_sorted_link_to manu, "Price", "price" %></th>
        <th><%= m_sorted_link_to manu, "Rating", "rating_index" %></th>
      </tr>
    </thead>
    <tbody>
      <% for product in products_by_manufacturer[manu] %>
        <tr>
          <td><%= link_to product.full_name, product_path(product) %></td>
          <td style="text-align: right"><%= number_to_currency product.price, precision: 2 %></td>
          <td>
            <% if product.rating %>
              <%= product.rating.raw_value %>
              (<%= pluralize product.num_reviews, 'review' %>)
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>