<h1>Products</h1>

<ul>
  <% for manufacturer in manufacturers %>
    <li><%= link_to manufacturer.name, :anchor => manufacturer.webkey %></li>
  <% end %>
</ul>

<% for manu in manufacturers %>
  <h2 id="<%= manu.webkey %>"><%= manu.name %></h2>
  <table>
    <thead>
      <tr>
        <th><%= m_sorted_link_to manu, "Name", "full_name" %></th>
        <th><%= m_sorted_link_to manu, "Chipset", "chipset_full_name" %></th>
        <th><%= m_sorted_link_to manu, "Current Price", "price" %></th>
        <th><%= m_sorted_link_to manu, "Current Rating", "rating_index" %></th>
      </tr>
    </thead>
    <tbody>
      <% for product in (products_by_manufacturer[manu] || []) %>
        <% chipset = product.chipset %>
        <tr>
          <td><%= link_to product.full_name, product_path(product) %></td>
          <td>
            <% if product.is_chipset? %>
              Yes
            <% elsif chipset %>
              <%= link_to chipset.try(:full_name), product_path(chipset) %>
            <% end %>
          </td>
          <td style="text-align: right">
            <% if product.current_price %>
              <%= number_to_currency product.current_price.amount, :precision => 2 %>
            <% end %>
          </td>
          <td>
            <% if product.current_rating %>
              <%= product.current_rating.raw_value %>
              (<%= pluralize product.current_rating.num_reviews, 'review' %>)
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>