<p><%= link_to "« Back to products", products_path %></p>

<% category = product.category %>
<% manufacturer = product.manufacturer %>
<% chipset = product.chipset %>

<p>
  <%= link_to category.name, category_path(category.id) %> »
  <%= link_to manufacturer.name, manufacturer_path(manufacturer) %> »
  <%= product.full_name %>
</p>

<h1><%= product.full_name %></h1>

<% if product.is_chipset? %>
  <p><i>(This is a chipset)</i></p>

  <p>Implementations:</p>

  <ul>
    <% for implementation in product.implementations.order_by([:full_name, :asc]) %>
      <li><%= link_to implementation.full_name, product_path(implementation) %></li>
    <% end %>
  </ul>
<% elsif chipset %>
  <p><b>Chipset:</b> <%= link_to chipset.full_name, product_path(chipset) %></p>
<% end %>

<% if product.content_urls.any? %>
  <p><b>URL:</b> <%= link_to nil, product.content_urls.first, :target => "_blank" %></p>
<% end %>

<% if product.prices.any? %>
  <h2>Prices</h2>

  <% product.prices_grouped_by_retailer.each do |retailer_name, prices| %>
    <h3><%= retailer_name %></h3>
    <ul>
      <% for price in prices %>
        <li><b><%= price.created_at.to_s(:std) %>:</b> <%= number_to_currency price.amount %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if product.ratings.any? %>
  <h2>Ratings</h2>

  <% product.ratings_grouped_by_retailer.each do |retailer_name, ratings| %>
    <h3><%= retailer_name %></h3>
    <ul>
      <% for rating in ratings %>
        <li><b><%= rating.created_at.to_s(:std) %>:</b> <%= rating.raw_value %> (<%= pluralize rating.num_reviews, 'review' %>)</li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% if product.images.any? %>
  <h2>Images</h2>

  <p>
    <% for image in product.images %>
      <img src="<%= image.url %>" alt="<%= image.caption %>" width="20%">
    <% end %>
  </p>
<% end %>

<% if product.specs.any? %>
  <h2>Specs</h2>

  <table id="specs">
    <% product.specs.each do |name, value| %>
      <tr>
        <th><%= name %></th>
        <td><%= value %></td>
      </tr>
    <% end %>
  </dl>
<% end %>